### 중첩 for문

In [75]:
lst =[[1,2,3],[4,5,6],[7,8,0]]
for i in lst:
    for j in i:
        print(j),

1 2 3 4 5 6 7 8 0

### while문
* while문은  조건이 참인 동안 실행됨.
 * break 루프에서 빠져나옴, continue는 이번 루프만 스킵하고 다음 루프로 넘어감
 * else는 while문이 false일때 실행

* punt에 포함된 내용 출력하지않기

In [2]:
str1 = "This is python. Very good, : ..."
punt=".,;:... "

In [27]:
i=0
while i!=len(str1):
        if str1[i] in punt:
           i+=1
           continue
        print(str1[i]),
        i+=1

T h i s   i s   p y t h o n   V e r y   g o o d

### 사전형
* {key1:values1,key2:values2...}
* d.keys() / d.values() / *d -->key / **d -->values
* str1 문자 빈도 출력하기
* d={'t':2,'h':2....}

In [40]:
d={}
i=0
while i!=len(str1):
    k = str1[i]
    if k in punt:
        i+=1
        continue
    if k not in d.keys():
        count = 0
    else:
        count = d[k]
    d[k] = count + 1
    i+=1
print(d)

{' ': 6, 'e': 1, 'd': 1, 'g': 1, 'i': 2, 'h': 2, 'o': 3, 'n': 1, 'p': 1, 's': 2, 'r': 1, 'T': 1, 'V': 1, 'y': 2, 't': 1}

* 대소문자 구분없이 소문자로 카운트
 * k = str1[i].lower()
* 대소문자 구분없이 대문자로 카운트
 * k = str1[i].upper()

In [44]:
d={}
i=0
while i!=len(str1):
    k = str1[i]
    if k in punt:
        i+=1
        continue
    if k not in d.keys():
        count = 0
    else:
        count = d[k]
    d[k] = count + 1
    i+=1
print(d)

{' ': 6, 'e': 1, 'd': 1, 'g': 1, 'i': 2, 'h': 2, 'o': 3, 'n': 1, 'p': 1, 's': 2, 'r': 1, 'T': 1, 'V': 1, 'y': 2, 't': 1}

* dict함수를 사용하여 구현하기

In [46]:
d={}
i=0
while i!=len(str1):
    k = str1[i].lower()
    if k in punt:
        i+=1
        continue
    d[k] = d.get(k,0) + 1
    i+=1
print(d)

{' ': 6, 'e': 1, 'd': 1, 'g': 1, 'i': 2, 'h': 2, 'o': 3, 'n': 1, 'p': 1, 's': 2, 'r': 1, 't': 2, 'v': 1, 'y': 2}

### 문자열
 * Raw 문자열은 특수기호 처리하지않음, 문자열 앞에 소문자r을 넣어줌

In [47]:
s1 = "This is a 'string'"
s2 = 'This is a "string"'
s3 = "This is a \"string\""

In [48]:
print(s1==s2)

False

In [49]:
print(s2==s3)

True

In [50]:
s4 = """This is a very long string,
which even extends over several lines."""
print(s4)

This is a very long string,
which even extends over several lines.

In [51]:
s5 = 'The tab (\t) in here is not resolved'
print(s5)

The tab (	) in here is not resolved

In [60]:
s6 = r'The tab (\t) in here is not resolved'
print(s6)

The tab (\t) in here is not resolved

### 문자열 연산
 * split
 * find
 * replace

In [62]:
str1 = 'This.is.a,string'
str1.split('.')

['This', 'is', 'a,string']

In [63]:
print(str1.find('string'))

10

* replace() 문자열 자체의 요소는 변경하지 않고 출력한다.

In [65]:
print(str1.replace('string','sentence'))
print(str1)

This.is.a,sentence
This.is.a,string

In [73]:
str = 'this.is.a,string'
str.split('.')

['this', 'is', 'a,string']

오후

In [76]:
s1 ="This is python"

In [79]:
s1.count('i')

2

In [83]:
s1.index('This')

0

### print 함수/ formatted문자열을 스크린에 출력한다.
 * print formatted문자열이 아닐 경우 뒤에 오는 인자 전체를 매개변수로 인지

In [85]:
i=5; f=2.5; g=4.0;h=2**64;s='VAT'

In [98]:
print '1. Number of things:',i
print ('2.We have %i things' %i)
print ('3. %i * %f = %f' % (i,f,i*f))
print ('4. %i *%.2f =%.2f'  % (i,f,i*f))

1. Number of things: 5
2.We have 5 things
3. 5 * 2.500000 = 12.500000
4. 5 *2.50 =12.50

In [93]:
print ("aaa",1)

('aaa', 1)

* %g타입:이공계 포맷으로 출력..양식이 정해져있을경우 유용
* %를 출력하고자 할때 %%

In [96]:
print ('5. %f vs.%g vs. %g' % (f,g,h))
print ('6. %4i vs. %04i' % (i,i))
print ('7. %s is %i%%' % (s,i))

5. 2.500000 vs.4 vs. 1.84467e+19
6.    5 vs. 0005
7. VAT is 5%

## 5월16일 오후 4시

### Python project 기획안 발표

 * Project Topic: Life 와 관련한 데이터를 분석하고 분석결과를 그래프로 표시한다.
 
 #### 포함내용 
 * 사용대상
 * 기능
 * 함수(코드블럭)

5월 10일 실습과제

1. 리스트를 이용하여 FIFO방법을 구현하는 함수를 작성
2. 리스트를 이용하여 FILO방법을 구현하는 함수를 작성
3. Jupyter Note에서 1과2에서 개발한 함수를 호출하여 실행결과를 확인하기.[결과물]Jupyter Notebook 파일 1개, 스크립트 파일 1개

### 시퀀스 자료형
* 종료: 문자열, 리스트, 튜플
* 여러개의 객체를 저장
* 순서가 있음
* 공통 연산
 * 색인:s[k]..0.1.2 거꾸로일경우 -1,-2
 * 슬라이싱:s[start:end:step] ex) a b c d e f g   s[: : 2]일 경우 결과값은 a, c, e, g / s[0:3] 결과값은 a,b,c
 * 연결:s1+s2
 * 반복:s*num
 *멤버십 테스트: member in sequence
 * 길이정보: len(sequence)
 
## 리스트

In [100]:
lst = [4,3,2.0,0,'peter']

In [103]:
lst[3]=1

In [105]:
print(lst)

[4, 3, 2.0, 1, 'peter']

In [107]:
print(len(lst))

5

## 튜플 요소 수정불가(immutable list)

In [108]:
t=(1,2,'sam')
print(t[0])

1

In [109]:
t

(1, 2, 'sam')

* 튜플은 요소 치환 불가

In [110]:
s[2]=0

TypeError: 'str' object does not support item assignment

In [112]:
t3 =(1)
t2=(1,)

In [118]:
print(type(t3))
print(type(t2))

<type 'int'>
<type 'tuple'>

타입 캐스팅 tuple(), list(), str()

리스트 내포

In [120]:
lst=[1,2,3]
lst2=[x**2 for x in lst]
print (lst2)

[1, 4, 9]

In [127]:
lst3 = [(x,x**2) for x in lst2 if x<5]
print(lst3)

[(1, 1), (4, 16)]

In [129]:
lst4 = [x*y[0] for x in lst2 for y in lst3]
print(lst4)

[1, 4, 4, 16, 9, 36]

In [131]:
lst5=[]
for x in lst2:
    for y in lst3:
        lst5.append(x*y[0])
print (lst5)

[1, 4, 4, 16, 9, 36]

In [176]:
l1=[1,2,3]
l2=[4,5,6]
l1.append(l2)
l1

[1, 2, 3, [4, 5, 6]]

In [177]:
l1.extend(l2)
l1

[1, 2, 3, [4, 5, 6], 4, 5, 6]

### 과제 실행 결과

In [228]:
import fifo_lifo as fl

In [229]:
lst=[]
lst.append(1)
lst.append(3)
lst.append(5)
lst.append(7)
lst

[1, 3, 5, 7]

In [230]:
print(lst)
print(fl.fifo(4,lst))

[1, 3, 5, 7]
(1, [3, 5, 7, 4])

In [231]:
lst

[3, 5, 7, 4]

In [233]:
print(lst)
print(fl.lifo(8,lst))

[3, 5, 7, 4]
(8, [3, 5, 7, 4])

In [246]:
import fifo_lifo

In [255]:
reload(fifo_lifo)

In [260]:
fifo_lifo.fifo?

In [262]:
cd ..

C:\AIPython

In [264]:
fifo_lifo.fifo(3,lst)

(3, [5, 7, 4, 3])

In [265]:
%pwd

u'C:\\AIPython'